h1 {
    font-size: 3rem;
    text-align: center;
}

.landing {
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin: 7em;
}

.landing-left {
    padding: 10em;
}

.landing-right {
    box-shadow: 0px 0px 4em 0.25em #aaa;
    border-radius: 30px;
    width: 30em;
    padding: 7em;
    padding-top: 10em;
    padding-bottom: 10em;
}

.uploadButton {
  font-size: 2.5rem;
  background-color: #F15025;
  color: #FFF;
  padding: 0.5em;
  margin: 1.5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 0.2em;
  font-weight: bold;
  text-decoration: none;
}
