body {
   margin: 0px;
}

.navbar {
  display: flex;
  padding: 1em;
  background-color: #292929;
  font-family: sans-serif;
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding-left: 0.5em;
}

.right {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;
}

.aboutLink,.signInLink,.signUpLink{
  font-size: 1.5rem;
  padding: 0.35em;
  margin: 1.5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 0.2em;
  font-weight: bold;
  text-decoration: none;
}

.aboutLink {
  background-color: #292929;
  color: #FFF;
}

.signInLink {
  background-color: #FFF;
  color: #000;
}

.signUpLink {
  background-color: #F15025;
  color: #FFF;
}
